$primary-color: #ffcc00; // Jaune cartoon
$secondary-color: #ff6f61; // Rouge pastel
$background-color: #f7f7f7; // Gris clair

body {
  font-family: 'Comic Sans MS', cursive, sans-serif; // Style cartoon
  margin: 0;
  padding: 0;
  background-color: $background-color;
}

  
.form-container {
    background: rgba(255, 255, 255, 0.9); /* Fond blanc légèrement transparent */
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 90%;
    max-width: 400px;
  }

.login-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../../assets/background_miam.png') no-repeat center center fixed;
    background-size: cover;
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;

  .header {
    text-align: center;
    color: $secondary-color;

    h1 {
      font-size: 2.5rem;
      margin-bottom: 10px;
    }

    p {
      font-size: 1.2rem;
    }
  }

  .form-container {
    background: white;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 90%;
    max-width: 400px;

    form {
      display: flex;
      flex-direction: column;

      .form-group {
        margin-bottom: 15px;

        label {
          font-size: 1.1rem;
          color: $secondary-color;
          margin-bottom: 5px;
          display: block;
        }

        input {
          width: 100%;
          padding: 10px;
          border: 2px solid $primary-color;
          border-radius: 10px;
          font-size: 1rem;
        }
      }

      button {
        background: $secondary-color;
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: 10px;
        font-size: 1.2rem;
        cursor: pointer;
        transition: background 0.3s;

        &:hover {
          background: darken($secondary-color, 10%);
        }
      }
    }
  }
}
